.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.24);

  &__image {
    width: 30%;
    height: 180px;
    object-fit: contain;
  }

  &__amount {
    text-align: right;
    width: 50px;
  }

  &__remove {
    all: unset;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: gainsboro;
      border: 1px solid gainsboro;
    }
  }
}
