.products {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 90%;
  margin: 10px auto;
}

.product-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }

  &__title {
    text-align: center;
    font-weight: bold;
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  &__add-cart {
    all: unset;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: lightgrey;
    }
  }
}

.product-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: lightgray;
  text-align: center;

  &__image {
    width: 100%;
    height: 600px;
    object-fit: contain;
  }
}
